h1{
color:blue; font-style:italic;}

table{ background-color:aqua; color:green;}
th{ background-color:yellow; color:red;}
.para1{font-style:italic;color:blue;font-size:25;}
.para2{font-size:25;color:green;}
.para3{font-size:20;color:green;}